body {
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper>input {
    max-width: 100%;
}

.row+.row {
    padding-top: 1rem;
}

.graph {
    width: 100%;
    height: 100%;
}